<table>
  <thead>
    <tr>
      <th>Todoリスト</th>
    </tr>
  </thead>
  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.content %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '戻る', categories_path %>


